<!DOCTYPE html>
<html lang="en" ng-app="RegisterApp">

<head>
	<meta charset="UTF-8">
	<title>User Registeration Form</title>
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
	<script src="/libs/jquery/dist/jquery.js"></script>
	<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/libs/angular/angular.js"></script>
	<script src="/index.js"></script>
</head>

<body ng-controller="RegisterCtrl as registerCtrl">
	<div class="container">
		<h2>User Registeration Form</h2>
		<p>
			<code>    {{registerCtrl.status}}</code>
		</p>
		<form name="orderForm" validate ng-submit="registerCtrl.submitBtn()">
			<div class="form-group">
				<label for="email">Email:</label>
				<input id="email" class="form-control" type="email" name="email" required>
			</div>
			<div class="form-group">
				<label for="password">Passwword:</label>
				<input id="password" class="form-control" type="password" name="password" ng-model="registerCtrl.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
				    required>
			</div>
			<div class="form-group">
				<label for="name">Name:</label>
				<input id="name" class="form-control" type="text" name="name" required ng-model="registerCtrl.name"></input>
			</div>
			<div class="form-group">
				<label for="gender">Gender:</label>
				<div class="radio">
					<label>
							<input type="radio" name="male" value="male"
								ng-model="registerCtrl.gender">
							<code>male</code>
						</label>
					<label>
							<input type="radio" name="female" value="female" 
								ng-model="registerCtrl.gender">
							<code>female</code>
						</label>
				</div>
			</div>
			<div class="form-group">
				<label for="dob">Date of Birth:</label>
				<input id="dob" class="form-control" type="date" name="dob" required ng-model="registerCtrl.dob" ng-pattern="/([0-9]{2})/([0-9]{2})/([1994]{2})/">
			<!--	<div class="help-block" ng-show="!orderForm.dob.$pristine && registerCtrl.isValidDob()">Too young lar go away</div>-->
			</div>
			<div class="form-group">
				<label for="address">Address:</label>
				<input id="address" class="form-control" type="text" row="5" name="address" required ng-model="registerCtrl.address">
			</div>
			<div class="form-group">
				<label for="country">Country:</label>
				<input id="country" class="form-control" type="text" name="country" required ng-model="registerCtrl.country">
			</div>
			<div class="form-group">
				<label for="contact">Contact:</label>
				<input id="contact" class="form-control" type="text" name="contact" ng-model="registerCtrl.contact" required/>
				<div class="help-block" ng-show="!orderForm.contact.$pristine && !registerCtrl.isValidContact()">Enter valid contact</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary form-control">
				</input>
			</div>
		</form>
	</div>
</body>

</html>